<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'home/style/style.css' %}">
</head>
<body>
    <header class="header">
        <div class="wrapper header-wrapper">
            <div class="logo">
                <img src="" alt="">
            </div>
            <nav>
                <a href="#" class="link">Главная</a>
                <a href="#" class="link">Блог</a>
                <a href="#" class="link">Портфолио</a>
            </nav>
            <div class="header-right">
                <!-- Добавить код для проверки на авторизацию -->
                <a href="#" class="link">Регистрация</a>
                <a href="#" class="link link-primary">Вход</a>
                <!-- Добавить код, если пользователь авторизировался -->
                <a href="#" class="link link-primary">Выход</a>
            </div>
    </div>
    </header>
    <main>
        <!-- Добавить код для секии hero, отображать ее только после авторизации -->
        <section class="hero">
            <img src="" alt="" class="my_image">
            <span class="first_name">Текст Рыба</span>
            <span class="last_name">Текст Рыба</span>
            <span class="my_age">99</span>
        </section>
        <!-- Добавить код, для отображения регистрации, только для не авторизованных пользователей  -->
        <section class="hero">
            <h2>Регистрация нового пользователя</h2>
            <a href="#" class="sign_link">Регистрация</a>
        </section>

    </main>
</body>
</html>